.DS_Store
/back/*/**.DS_Store
/back/*.rbc
/back/capybara-*.html
/back/.rspec
/back/db/*.sqlite3
/back/db/*.sqlite3-journal
/back/db/*.sqlite3-[0-9]*
/back/public/system
/back/coverage/
/back/spec/tmp
/back/*.orig
/back/rerun.txt
/back/pickle-email-*.html

# Ignore all logfiles and tempfiles.
/back/log/*
/back/tmp/*
/back/!/log/.keep
/back/!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
# config/initializers/secret_token.rb
# config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
/back/.env
/back/.env*.local

## Environment normalization:
/back/.bundle
/back/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/back/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/back/vendor/assets/bower_components
/back/*.bowerrc
/back/bower.json

# Ignore pow environment settings
/back/.powenv

# Ignore Byebug command history file.
/back/.byebug_history

# Ignore node_modules
/back/node_modules/

# Ignore precompiled javascript packs
/back/public/packs
/back/public/packs-test
/back/public/assets

# Ignore yarn files
/back/yarn-error.log
/back/yarn-debug.log*
/back/.yarn-integrity

# Ignore uploaded files in development
/back/storage/*
/back/!/storage/.keep
/back/public/uploads

/front/*/**.DS_Store
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*
/front/node_modules
/front/dist
/front/dist-ssr
/front/*.local
/front/.vscode/*
/front/!.vscode/extensions.json
/front/.idea
/front/*.suo
/front/*.ntvs*
/front/*.njsproj
/front/*.sln
/front/*.sw?
/front/coverage